	body {
		margin: 0;
		padding: 0; 
	}
	.c0 {
		display: flex;
		flex-flow: row wrap;
 		width: 100vw;
	}
	.colorBoxColor1 {
	 	background-color: #20B2AA;
	}
	.colorBoxColor2 {
		background-color: #9ACD32;
	}
	.colorBoxColor3 {
		 background-color: #9932CC;
	}
	
	@media screen and (max-width:749px) {
		.c1 {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
		}
		.logo {
		 	width: 50%;
			margin-left: 0%;
		}
		.addr {
			width: 50%;
			font-size: 1.15em;
			font-weight: bold;
			color: black;	
			display: flex;
 			justify-content: flex-end;
			align-items: flex-end;
		}
		address {
			margin: 0;
			padding: 0 2% 0 0;
		}
		.borderDiv {
			width:100%;
		}
		.borderDiv hr {
			width:100%;
			height: 0.50em;
			background-color: gray;
			margin: 0;
			padding: 0;
		}
		.c2 {
			width: 100%;
			display: flex;
			flex-warp: nowrap;
			flex-direction: row;
			
		}
		.colorBoxParent{
			display: flex; 
			width: 33.33%;
			height: 30px;
		}
		.colorBoxChild {
			margin: auto;
			font-size: 1em;
			color: white;
		}
		.c5 {
			width: 100%;
		}
		iframe	{
			width: 100%;
			height: 225px;
		}
		.footerTitle {		
			font-size: 1em;
			background-color: gray;
			color: white;
			margin: 0;
			padding: 0;
		}
		.c4 {
			display: flex;
			flex-direction: row;
			justify-content: space-between
		}
		figure {
			width: 30%;
		}
		img {
			width: 100%;
			height: 125px;
		}
		figurecaption {
			font-size: 1em;	
			color: black;
		}
	}

	@media screen and (min-width:750px) {
		.c1 {
			width: 100%;
			padding: 0;
			margin: 0;
			display: flex;
		}
		.logo {
		        width: 50%;
			margin-left: 17%;
		}
		.addr {
			width: 50%;
			font-size: 1.75em;
			font-weight: bold;
			color: black;	
			display: flex;
			justify-content: flex-end;
 			align-items: flex-end;
		}
		address {
			margin: 0;
			padding: 0 2% 0 0;
		}
		.borderDiv {
			width:100%;
			margin: 0;
			padding: 0;
		}
		.borderDiv hr {
			width: 83%;
			margin: 0 0 0 17%;
			height: 0.75em;
			background-color: gray;
			padding: 0;
		}
		.c2 {
			width: 17%;
		}
		.colorBoxParent {
			display: flex; 
			border-radius: 15px; 
			width: 75%;
			height: 48px; 
			margin: 0 auto 5% auto; 
		}
		.colorBoxChild {
			font-size: 1.25em; 
			font-weight: bold; 
			color: white; 
			margin: auto;
		}
		.c5{
			width: 83%;
		}
		
		iframe	{
			width: 100%;
			height: 500px;
		}
		
		.footerTitle {
			font-size: 1.5em;
			background-color: gray;
			color: white;
			margin: 0;
			padding: 0;
		}
		.c4 {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		figure {
			width:30%;
		}
		.imgButton {
			width: 100%;
			height: 175px;
		}
		figurecaption {
			font-size: 1.25em;
			color: black;
		}
	}

